<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>MemoryUsageTests</key>
		<dict>
			<key>testMemoryAllocationsAfterLaunch()</key>
			<dict>
				<key>com.duckduckgo.memory.allocations.used.final</key>
				<dict>
					<key>baselineAverage</key>
					<real>194000000.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testMemoryAllocationsWhenOpeningSingleNewTab()</key>
			<dict>
				<key>com.duckduckgo.memory.allocations.used.final</key>
				<dict>
					<key>baselineAverage</key>
					<real>208000000.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.duckduckgo.memory.allocations.used.initial</key>
				<dict>
					<key>baselineAverage</key>
					<real>206000000.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testMemoryAllocationsWhenOpeningSingleNewWindow()</key>
			<dict>
				<key>com.duckduckgo.memory.allocations.used.final</key>
				<dict>
					<key>baselineAverage</key>
					<real>228000000.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.duckduckgo.memory.allocations.used.initial</key>
				<dict>
					<key>baselineAverage</key>
					<real>220000000.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
